:root {
  --background-body: #e2e2e2;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: var(--background-body);
  transition: background-color 0.5s linear 0s;
}

/* #switch-btn{
  height: 100px;
  width: 100px;
} */

#rebel{
  position: relative;
  width: 100px;
  height: 100px;
  /* margin: 0 auto; */
  opacity: 1;
  /* transition: opacity 0.5s ease 0s; */
}

#empire{
  position: absolute;
  width: 100px;
  height: 100px;
  /* margin: 0 auto; */
  opacity: 0;  
  /* transition: opacity 0.5s ease 0s; */
}

/* dark mode */

body.darkmode {
  --background-body: black;
transition: background-color 0.5s linear 0s;
}

#switch-btn.darkmode #empire{
  opacity: 1;
  /* transition: opacity 0.5s ease 0s; */
  position: relative;
}

#switch-btn.darkmode #rebel{
  opacity: 0;
  /* transition: opacity 0.5s ease 0s; */
  position: absolute;
}